*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

h1.title{
    font-size: 2.5em;
    font-weight: 600;
    margin: auto 0;
    vertical-align: middle;
}

#item-up.btn-info{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.container_grid{
    height: 720px;
    width: 720px;
    margin: 3em auto;
    outline: 1px solid #181D31;
}

.input_class{
    height: 7em;
    background-color: #293462;
    width: 100%;
}


.input-group{
    height: 10%;
    width: 90%;
}


.grid{
    width: 100%;
    background-color: #678983;
    color: white;
}

.square, .square_med, .square_min{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #181D31;
    font-size: 20px;
}

.square-easy{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.square-med{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.square-diff{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.clicked{
    background-color: #181D31;
    color: white;
    font-weight: bold;
    outline: 3px solid white;
}

.red{
    background-color: red;
    color: white;
    font-weight: bold;
    outline: 3px solid white;
} 

 .remove{
    pointer-events: none;
}

#level, #item-up{
    width: 10em;
}